<section id="profile-page">
  <mf-breadcrumb [breadcrumbs]="breadcrumbs"></mf-breadcrumb>
  <mat-card *ngIf="(profileObs | async) as profile">
    <mat-card-header>
      <mat-card-title>{{profile.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="'/assets/' + profile.picture" alt="Profile picture">
    <mat-card-content>
      <mat-card-title>Profile Info</mat-card-title>
      <mat-form-field>
          <mat-label for="name">Name</mat-label>
          <input
            id="name"
            name="name"
            type="text"
            [(ngModel)]="profile.name"
            readonly
            matInput>
      </mat-form-field>
      <mat-form-field>
          <mat-label for="email">E-mail</mat-label>
          <input
            id="email"
            name="email"
            type="text"
            [(ngModel)]="profile.email"
            readonly
            matInput>
      </mat-form-field>
      <mat-card-subtitle>Last 5 watched movies</mat-card-subtitle>
      <mat-chip-list>
        <ng-container *ngFor="let movie of profile.movies">
          <mat-chip>{{ movie.name }}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <mat-card-title>Options</mat-card-title>
      <button
        (click)="showLogoutConfirmationDialog()"
        type="button"
        color="warn"
        aria-label="Logout from MyFlix"
        mat-button>Logout</button>
    </mat-card-actions>
  </mat-card>
</section>
