
<form
  id="loginForm"
  action="">
  <mat-form-field>
    <mat-label for="username">Username</mat-label>
    <input
      id="username"
      name="username"
      type="text"
      matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label
      for="password">Password</mat-label>
    <input
      id="password"
      name="password"
      type="password"
      matInput>
    <input
      id="revealedPassword"
      name="revealedPassword"
      *ngIf="hidePassword"
      type="text"
      matInput>
  </mat-form-field>
  <button
    id="loginButton"
    color="primary"
    type="submit"
    mat-raised-button>Login</button>
</form>
